.hero-content_grid {
    width: 100%;
    height: 80vh;
    display: grid;
    margin-top: 2rem;
    padding-inline: 3rem;
    grid-auto-rows: auto;
    font-family: var(--ff-pri);
    grid-column: repeat(6, 1fr);
}


/* Hero-Content - Text on Hero */
.hero-content_text {
    margin-top: 4rem;
    grid-column: 1 / span 2;
}
.hero-content_text .text-motto {
    font-weight: 700;
    font-size: .8rem;
    color: var(--clr-pri);
    letter-spacing: .5rem;
    text-transform: uppercase;
}
.hero-content_text .text-title {
    font-size: 1.45rem;
}
.hero-content_text .text-body {
    width: 30rem;
    font-size: 1rem;
    margin-top: 2rem;
}


/* Hero-Content - Image Cards on Hero */
.hero-content_cards {
    display: flex;
    justify-content: space-around;
    grid-column: 3 / span 3;
    grid-row: 1 / span 1;
}
.hero-content_cards .cards {
    display: flex;
    padding-inline: 1rem;
    position: relative;
}
.cards .cards-main img.person-1 {
    width: 95%;
    height: 65%;
    margin-top: 2.5rem;
    margin-inline: auto;
    border-radius: 1rem;
    position: relative;
}
.overlay-1 {
    width: 85%;
    height: 65%;
    margin-top: 2.5rem;
    margin-inline: auto;
    border-radius: 1rem;
    z-index: 10;
    position: absolute;
    top: -.95rem;
    left: -.85rem;
    border: .2rem solid red;
}
.cards .cards-main img.person-2 {
    width: 95%;
    height: 65%;
    margin-top: 4rem;
    border-radius: 1rem;
    position: relative;
}
.overlay-2 {
    width: 85%;
    height: 65%;
    margin-top: 1rem;
    margin-inline: auto;
    border-radius: 1rem;
    position: absolute;
    top: 4rem;
    right: 1rem;
    border: .2rem solid red;
}
.cards .cards-main .rays {
    width: 2rem;
    height: 2rem;
}
.cards .cards-main img.rays-1 {
    position: absolute;
    top: .5rem;
    right: 0;
}
.cards .cards-main img.rays-2 {
    position: absolute;
    bottom: 6rem;
    left: -1rem;
}

/* Hero-Content - Social Media Icons */
.hero-content_social {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    grid-column: 6 / span 1;
}
.hero-content_social .red-line {
    width: .1rem;
    height: 7rem;
    margin-right: 1rem;
    padding-block: 2rem;
    background-color: red;
}
.hero-content_social .social-connect {
    display: flex;
    margin-left: auto;
    padding-block: 2rem;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
}
.hero-content_social .social-connect img {
    width: auto;
    margin-block: .75rem;
}

@media screen and ( max-width: 600px ) {
    .overlay-1 {
        top: -2rem;
        left: -1rem;
        height: 90%;
    }
    .overlay-2 {
        top: 1rem;
        left: 1.5rem;
        width: 80%;
        height: 70%;
    }
    .cards .cards-main .rays {
        width: 1.5rem;
        height: 1.5rem;
    }
    .cards .cards-main img.rays-1 {
        top: .1rem;
        left: 7rem;
    }
    .cards .cards-main img.rays-2 {
        top: 10rem;
        left: -5px;
    }
}


@media screen and ( max-width: 900px ) {

    .hero-content_grid {
        max-width: 100vw;
        grid-column: repeat(2, 1fr);
        grid-auto-rows: auto;
    }
    .hero-content_text      { grid-column: 1 / span 2; grid-row: 1 / span 3; }
    .hero-content_cards     { grid-column: 1 / span 2; grid-row: 4 / span 4; }
    .hero-content_social    { grid-column: 1 / span 2; grid-row: 8 / span 1; }
    .brand-card             { grid-column: 1 / span 2; grid-row: 9 / span 4; }

    .hero-content_text .text-motto,
    .hero-content_text .text-title,
    .hero-content_text .text-body {
        margin-top: 1rem;
        padding: .2rem;
        font-size: 90%;
        max-width: 100vw;
        margin-block: auto;
        text-align: center;
    }
    .hero-content_text {
        align-self: start;
        margin-block: 0;
        padding-block: 0;
    }
    .hero-content_text .text-motto {
        font-size: 60%;
    }
    .hero-content_text .text-body {
        width: 100%;
        margin-inline: auto;
    }
    


    /* Images */
    .hero-content_cards {
        margin-block: 3rem;
    }
    .cards .cards-main img.person-1 { margin-top: 1.5rem; }
    .cards .cards-main img.person-2 { margin-top: 1.5rem; }
    .cards .cards-main img.person-1,
    .cards .cards-main img.person-2 {
        height: 90%;
    }
    .overlay-1 {
        top: -2rem;
        left: -1rem;
        height: 90%;
    }
    .overlay-2 {
        top: 1.5rem;
        right: 1rem;
        height: 90%;
    }
    .cards .cards-main .rays {
        width: 1.5rem;
        height: 1.5rem;
    }
    .cards .cards-main img.rays-1 {
        top: .1rem;
        right: .75rem;
    }
    .cards .cards-main img.rays-2 {
        bottom: -.75rem;
        left: -10px;
    }


    /* Social Media Icons */
    .hero-content_social {
        width: 100%;
        padding-block: 3rem;
    }
    .hero-content_social .social-connect {
        padding-block: 0;
        flex-direction: row;
        margin-inline: auto;
    }
    .hero-content_social .social-connect img {
        width: 80%;
        margin-inline: .95rem;
    }
    .hero-content_social .red-line {

        width: 100%;
        height: 1px;
        padding: 0;
        margin-inline: auto;
        background-color: red;
    }
}

@media screen and ( max-width: 1250px ) {
    .hero-content_text .text-motto,
    .hero-content_text .text-title,
    .hero-content_text .text-body {
        margin-top: 1rem;
        padding: .2rem;
        font-size: 85%;
        margin-block: auto;
    }


    
    /* Images */
    .overlay-1 {
        top: -1rem;
        left: -.5rem;
        width: 70%;
        height: 65%;
    }
    .overlay-2 {
        top: 4rem;
        left: 1.5rem;
        width: 70%;
        height: 65%;
    }
    .cards .cards-main .rays {
        width: 1.5rem;
        height: 1.5rem;
    }
    .cards .cards-main img.rays-1 {
        top: .5rem;
        left: 15rem;
    }
    .cards .cards-main img.rays-2 {
        top: 23rem;
        left: -1rem;
    }   
}