@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {

    /* fonts */
    --ff-primary: 'Montserrat', sans-serif;

    /* colors */
    --clr-primary: #CF0303;
    --clr-dark: #000000;
    --clr-light: #F6F6F6;

}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    overflow: auto;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-size: 62.5%;
    font-family: var(--ff-primary);
}



/* Utilities
   =================================================== */

.text-accent {
    color: var(--clr-primary);
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    color: #F6F6F6;
    border-radius: .5rem;
    padding-block: .85rem;
    background-color: var(--clr-primary);
}

.btn-block {
    width: 100%;
}

.btn-round {
    padding: 1.5rem 2.5rem;
    font-size: .85rem;
    border-radius: 2rem;
}



/* Pages - Login 
   =================================================== */
   
   .login {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Login - Split 1 */
.login-form {
    padding: 3rem;
    padding-bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.login-header {
    margin-bottom: 1rem;
}

.login-header-text {
    margin-bottom: 2rem;
}

.form {
    margin-inline: auto;
    width: 100%;
}

.field {
    width: 100%;
    margin-bottom: 2rem;
}

.field label,
.field input {
    display: block;
    width: 100%;
}

.field label {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .1rem;
}

.field input[type='text'],
.field input[type='password'] {
    height: 2rem;
    padding: 1rem;
    outline: none;
    border-radius: .3rem;
    border:  .1rem solid #B4B6C4;
}

.login-footer {
    width: 100%;
    padding: 1rem;
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #E6E7EB;
}

/* Login - Text */

.login-header-text p {
    width: 70%;
    font-weight: 600;
    font-size: 1.3rem;
}

.text-forgot {
    text-align: right;
    font-size: .8rem;
    margin-top: .2rem;
}

.text-forgot > a:link,
.text-forgot > a:visited {
    text-decoration: underline;
}

.text-noaccount {
    font-size: .8rem;
    margin-top: 2rem;
    font-weight: 600;
    text-align: center;
}

.text-noaccount .text-signup {
    text-decoration: underline;
}


/* Login - Split 2 */
.login-present {
    width: 100%;
    height: 100%;
    display: flex;
    padding-inline: 6rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--clr-light);
}

.login-present > img {
    display: inline-block;
    width: 75%;
}

.login-present .login-text {
    text-align: center;
}

.login-present .login-text h1 {
    font-size: 2rem;
    margin: 0;
    width: 100%;
    line-height: 1.2;
}

.login-present .login-text p {
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 500;
}



/* Pages - Home Page
   =================================================== */

/* Hero Section */

.hero {
    width: 100%;
    height: 95vh;
    padding: 1rem 3rem;
}

.navbar {
    padding-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-options ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-options ul li {
    font-family: 600;
    font-size: 1rem;
    margin-inline: 1rem;
}

.menu-options ul li.menu-selected {
    font-weight: 700;
    color: var(--clr-primary);
    border-bottom: .2rem solid #CF0303;
}


.heroContent {
    display: flex;
    align-items: flex-start;
    padding-top: 2rem;
    justify-content: center;
    height: 100%;
}

.heroContent .intro {
    width: 50%;
}

.heroContent .intro .motto {
    font-weight: 700;
    line-height: 1.8;
    font-size: .94rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    color: var(--clr-primary);
}

.heroContent .intro h1 {
    font-size: 2.6rem;
}

.heroContent .intro .intro-info {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    width: 80%;
    word-wrap: break-word;
}

.person1 {
    position: relative;
    top: 10px;
    width: 300px;
    height: 500px;
    display: flex;
    align-items: flex-start;
}

.person1 .card {
    position: absolute;
    top: 0px;
    border-radius: 1rem;
    width: 14rem;
    height: 18rem;
    background-color: transparent;
    border: 2px solid var(--clr-primary);
    z-index: 7;
}

.person1 img {
    width: 14rem;
    height: 18rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    border-radius: 1rem;
    z-index: 1;
}

.person2 {
    position: relative;
    top: 10px;
    width: 300px;
    height: 500px;
    display: flex;
    align-items: flex-start;
    margin-left: 0;
}

.person2 .card {
    position: absolute;
    top: 90px;
    right: 20px;
    border-radius: 1rem;
    width: 14rem;
    height: 18rem;
    background-color: transparent;
    border: 2px solid var(--clr-primary);
    z-index: 1;
}

.person2 img {
    width: 14rem;
    height: 18rem;
    position: absolute;
    top: 75px;
    left: 10px;
    border-radius: 1rem;
    z-index: 2;
}

img.ray1,
img.ray2  {
    width: 2rem;
    height: 2rem;
    position: absolute;
}

img.ray1 {
    top: -20px;
    left: 28px;
}

img.ray2 {
    top: 0;
    right: 0;
}

.social {
    width: 10%;
    height: 75%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

.social > .red-line {
    width: 3px;
    height: 100%;
    align-self: flex-end;
    position: absolute;
    right: 20px;
    border-right: 1px solid var(--clr-primary);
}

.social-box {
    width: 3rem;
    height: 10rem;
    position: absolute;
    top: 30%;
    right: 0;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}