@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {

  /* Fonts */
  --ff-pri: 'Montserrat', sans-serif;
  
  /* Colors */
  --clr-pri: #CF0303;
  --clr-dark: #000000;
  --clr-light: #F6F6F6;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Utilities */
.text-accent {
  color: var(--clr-pri);
}