@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {

  /* Fonts */
  --ff-pri: 'Montserrat', sans-serif;
  
  /* Colors */
  --clr-pri: #CF0303;
  --clr-dark: #000000;
  --clr-light: #F6F6F6;
  --clr-hightlight: #FED70A;

  /* Metrics */
  --ff-width: calc(100vw - scrollbarwidthpx);

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-snap-align: center;
  scroll-behavior: smooth;
}

body {
  line-height: 1.4;
  font-family: var(--ff-pri);
}


/* Utilities */
.text-accent {
  color: var(--clr-pri);
}